@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor1: #ACBBBA;
  --primaryColor2: #74d2fe;
  --backgroundColor: #F5CAAE;
  --normalFontColor: #1a1a1a;
  --titleFontColor: #181818;
  --shadowColor: #4d4d4da9;

  background-color: var(--backgroundColor);
  color: var(--normalFontColor);
}

html, body {
  
}
